@font-face {
    font-family: Pipboy;
    src: url('../src/monofonto\ rg.otf');
}

body {
    color: #17ff42;
    background: rgb(45, 47, 45);
    font-family: Pipboy, sans-serif;
}

body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .4) 1px, transparent 1px, transparent 2px);
    opacity: .3;
    z-index: 10000000;
    pointer-events: none;
}

.navbar.navbar-light {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar.navbar-light::before,
.navbar.navbar-light::after {
    height: 5px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #fff;
    left: 0px;
    bottom: -6px;
    background: #17ff42;
}

.navbar::before {
    left: 0px;
}

.navbar::after {
    left: 0px;
}

ul>li.nav-item>a.nav-link,
ul>li.navbar-item.active>a.nav-link {
    color: #17ff42 !important;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
}

.navbar-item.active::before {
    content: "";
    position: absolute;
    background: #f00;
    width: 100%;
    height: 20px;
    top: 20px;
    background: rgb(45, 47, 45);
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    left: 0;
}

.navbar-light .navbar-nav>li.nav-item>.nav-link,
.navbar-light .navbar-nav>li.navbar-item.active>.nav-link {
    text-align: center;
    margin: auto;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;
    background: rgb(45, 47, 45);
}

.navbar-nav {
    width: 100%;
}

.navbar-light ul.navbar-nav>li {
    display: block;
    position: relative;
    width: 100%;

}

.center-image {
    position: absolute;
    margin: auto;
    margin-left: 90px;
}

.center-image img {
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
    margin-top: 46px;
}

.pip-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
}

.navbar.navbar-light .navbar-nav {
    margin: 0px 200px;
}

.navbar.navbar-light .navbar-nav>li {
    padding: 0px 20px;
}

.nav-tabs {
    margin: 20px;
    border-bottom: none;
}

.nav-tabs>.nav-item>.nav-link {
    border: 1px solid transparent;
}

.nav-tabs>li>a {
    font-size: 26px !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    padding: 5px 10px;
}

.nav-tabs>li:nth-child(1)>a {
    opacity: .5;
}

.nav-tabs>li:nth-child(2)>a {
    opacity: .3;
}

.nav-tabs>li:nth-child(3)>a {
    opacity: .1;
}

.level-progress {
    width: 70%;
    height: 10px;
    border: 2px solid;
    display: inline-block;
}

.level-progress-indicator {
    height: 6px;
    background: #17ff42;
    position: relative;
    width: 65%;
}

.navbar.navbar-light.pip-footer {
    border: none;
}

.navbar.pip-footer .col-3,
.navbar.pip-footer .col-6 {
    background: rgb(0, 255, 20, .15);
}

.navbar.pip-footer .col-6 {
    margin: 0px 5px;
    flex: 0 0 48%
}

.stat-bar {
    width: 60px;
    margin: auto;
}

#status {
    max-width: 400px;
    margin: auto;
}


.stat-bars>.row {
    margin-bottom: 100px;

}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}